{%  extends "base.html" %}

{% block content %}
<div style="text-align: center;">
    <form action="{% url 'login' %}" method="post" class="form">
        {% csrf_token %}
        <div class="mb-3 row">
            <div class="col-sm-10">
                {{ form.as_p }}
                <button name="Submit" class="btn btn-primary">Log in</button>
            </div>
        </div>
        <input type="hidden" name="home" value="{% url 'Home' %}"/>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>

{% endblock content %}